<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>CaisseServlet</display-name>
    <servlet-name>CaisseServlet</servlet-name>
    <servlet-class>ma.fstm.ilisi.projetcaisse.controleur.CaisseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaisseServlet</servlet-name>
    <url-pattern>/CaisseServlet</url-pattern>
  </servlet-mapping>
  <display-name>CaisseSupermarche</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CategorieServlet</display-name>
    <servlet-name>CategorieServlet</servlet-name>
    <servlet-class>ma.fstm.ilisi.projetcaisse.controleur.CategorieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategorieServlet</servlet-name>
    <url-pattern>/CategorieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProduitsServlet</display-name>
    <servlet-name>ProduitsServlet</servlet-name>
    <servlet-class>ma.fstm.ilisi.projetcaisse.controleur.ProduitsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProduitsServlet</servlet-name>
    <url-pattern>/ProduitsServlet</url-pattern>
  </servlet-mapping>
</web-app>